root = true

[*.cs]
# Force block-scoped namespaces (with braces)
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_indent_braces = false
csharp_new_line_before_open_brace = false

# Optional: indent settings
indent_style = space
indent_size = 4

# Recommended: keep consistent file headers or documentation
#file_header_template = # Microsoft .NET properties

# ReSharper properties
resharper_blank_lines_after_control_transfer_statements = 1
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_csharp_other_braces = end_of_line
resharper_place_simple_embedded_statement_on_same_line = true

# Microsoft .NET properties
csharp_style_var_for_built_in_types = false:suggestion
